<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website - About</title>
</head>
<body>
    <h1>Vedang Kevlani</h1>
    <p>Hi, my name is Vedang Kevlani. I am a final year student pursuing Computer
        Science and a minor in Economics from the University of the West Indies, Mona.
        I would like to become a data scientist, as I am fascinated by numbers and predictions.<br>
        My hobbies include singing, taking early morning strolls and playing tennis. I find this course particularly
        interesting because it helps you to expand on your knowledge of creating basic web pages and backend services from part One
        and includes the knowledge of frameworks to carry out limitless possibilities. It reduces the fear of learning new tools and
        browsing new tools. I am excited for this course content.
    </p>
</body>
</html>